body {
	background-color: #D9610B; 
	font-color: #eee;
}
.opponent-zone {
	background-color: #F0A46E;
	padding: 1px;
}
.player-zone {
	background-color: #F0866E;
	padding: 1px;
}
.battlefield-container  {
	margin: 2em;
}
.hand-container  {
	margin: 2em;
}
.road-container  {
	margin: 2em;
}
.card {
		height: 18em;
		position: relative;
}
.card-stats {
		position: absolute;
		bottom: 0.3em;
		right: 0.3em;
}
.card-slot {
	max-width: 230px;
}
.card-slot > .card,
.card-slot > p {
	text-align: center;
	background-color: #BF550A;
	color: white;
	margin: 0px 1em;
	padding: 1em 0px;
}
.card-img {
		height: 15em;
		max-width: 85%;
}
#hand-card-menu {
		background-color: rgba(238, 119, 0, 0.92);
}
